.modal {
  display: block;
  position: fixed;
  width: 650px;
  height: 620px;
  z-index: 2;
  top: 100px;
  left: 100px;
  overflow: auto;
  background-color: white;
  border-radius: 10px;

  .modal-header {
    display: block;
    margin: 20px 15px;

    .modal-heading {
      display: inline;
      margin: 0px 10px;
    }

    .modal-close {
      float: right;
      margin: 5px;
    }
  }

  .modal-content {
    display: block;
    margin: 40px;

    .note-title {
      width: 550px;
      height: 50px;
    }

    .note-description {
      width: 550px;
      height: 300px;
    }
  }

  .modal-footer {
    display: block;
    text-align: center;
    margin: 5px;

    .create-new-note {
      margin: 10px;
    }
  }
}
