.note {
  display: inline-block;
  margin: 5px;
  border: 2px solid #d7edf7;
  border-radius: 5px;
  width: 320px;
  height: auto;
  max-height: 400px;
}

.note-title {
  border-bottom: 0.5px solid lightgray;
  height: auto;
  max-height: 75px;

  p {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding: 15px;
  }
}

.note-data {
  text-align: justify;
  overflow: scroll;
  height: auto;
  max-height: 285px;

  p {
    padding: 10px;
  }
}
