/* .edit {
  background-image: url(../../assets/power.jpg);
} */

.action-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 8px 0;
  background-color: bisque;

  .top-bar-button {
    width: 55px;
    height: 25px;
    margin: 0px 3px;
    border-radius: 4px;
    font-size: 12px;

    &.button-edit {
      background-color: blue;
      color: white;
    }

    &.button-share {
      background-color: #ff6347;
      color: white;
    }

    &.button-delete {
      background-color: red;
      color: white;
    }
  }
}
