/* .edit {
  background-image: url(../../assets/power.jpg);
} */

.popover-icons-actions {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 5;
  background-color: #eeeeee;
  border-radius: 10px;
  color: #424242;

  .actions-popover-action-list {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    width: auto;
    height: auto;

    .actions-popover-action {
      width: auto;
      height: auto;
      padding: 3px 10px;
      cursor: pointer;

      .actions-popover-action-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 25px;
        padding: 5px;
      }

      &:hover {
        background-color: #9e9e9e;
        color: white;
        border-radius: 10px;
      }
    }
  }
}
