.popover-icons-container {
  position: relative;

  .popover-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 3px 6px;
    border-radius: 8px;

    &.popover-icons-open {
      background-color: #9e9e9e;
    }

    .popover-icon {
      width: 20px;
      height: 2px;
      margin: 2px;
      background-color: #9e9e9e;
    }
  }
}
