.newNote-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .newNote-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 480px;

    .newNote-content-title {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      height: 25px;
      margin: 10px;

      input {
        width: 620px;
        height: 30px;
        text-indent: 5px;
        padding-right: 30px;
        font-size: 15px;
      }

      span {
        margin-top: 5px;
      }

      ::-webkit-input-placeholder {
        font-size: 15px;
      }
    }

    .newNote-content-body {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 10px;

      span {
        margin: 10px 10px 10px 13px;
        text-align: justify;
      }

      .newNote-content-body-editable {
        min-height: 320px;
        height: auto;
        border: 1px solid lightgrey;
        text-align: justify;
        text-indent: 5px;
        padding: 5px;

        &:empty:not(:focus):before {
          content: attr(data-placeholder);
          color: grey;
        }
      }
    }
  }

  .newNote-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-top: 1px solid lightgrey;
  }
}
