.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  margin: 50px auto;
  padding: 25px;
  text-align: center;
  background-color: #fffafa;
  box-shadow: 3px 3px 3px 3px #e0e0e0;

  .registration-text {
    color: #616161;
  }

  .registration-content {
    .registration-signin {
      margin-bottom: 15px;
    }

    .registration-signup {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 475px;
      margin-bottom: 15px;

      .registration-signup-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 350px;

        .registration-signup-content-field {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 375px;

          span {
            margin-top: 7px;
          }
        }
      }

      .registration-signup-footer {
        margin-top: 30px;
      }
    }
  }

  .registration-error {
    margin: auto;
    background-color: transparent;

    p {
      text-align: center;
      color: red;
    }
  }

  input[type="text"] {
    text-indent: 5px;
    width: 250px;
    height: 30px;
  }

  input[type="password"] {
    text-indent: 5px;
    width: 250px;
    height: 30px;
  }

  input:focus {
    outline: none;
  }

  ::-webkit-input-placeholder {
    font-size: 12px;
  }
}
