.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fffafa;
  margin: auto;
  padding: 25px;
  width: 500px;
  text-align: center;
  box-shadow: 3px 3px 3px 3px #e0e0e0;

  .registration-error {
    margin: auto;
    background-color: transparent;

    p {
      text-align: center;
      color: red;
    }
  }
}

input[type="text"] {
  width: 250px;
  height: 25px;
  border-color: #bdbdbd;
  border-radius: 3px;
}

input[type="password"] {
  width: 250px;
  height: 25px;
  border-color: #bdbdbd;
  border-radius: 3px;
}
